---
layout: page
title: "About"
description: "Hey, this is ThreeStones1029."
header-img: "img/about_bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> 

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>冰冻三尺 非一日之寒<br>
    积土成山 非斯须之作</p></blockquote>

    <p>我是<strong>帅磊</strong>，本硕均在<a href="https://www.hhu.edu.cn/">河海大学</a>，目前河海大学信息工程学院研二在读。</p>

    <p>我的主要工作是在蒋俊峰教授的指导下进行医学图像处理。我参与了常州市图形与骨科植入物数字技术重点实验室的多个项目和任务。我的工作涉及目标检测、图像分割、关键点识别和3D/2D配准。</p>

    <p>我的GitHub主页<a href="https://github.com/ThreeStones1029">👉GitHub·ThreeStones</a> 与 CSDN主页<a href="https://blog.csdn.net/SL1029_?spm=1000.2115.3001.5343">👉SL1029</a>。</p>

    <h5>主要项目</h5>

    <ul>
        <li>2024.04-至今 <strong>基于对比学习的术中X线片骨折识别</strong></li> 
        <li>2023.07-2024.03 <strong>基于溯因学习的术中X线片椎骨识别</strong></li>
        <li>2023.03-2023.06 <strong>脊柱CT椎骨分割与定位</strong></li>
    </ul>

    <h5>其他项目</h5>
    <ul>
        <li>2024.01 <strong>脊柱DRR生成与标注</strong></li>
        <li>
            <a href="https://github.com/ThreeStones1029/drr_utils"> python代码</a> 和 <a href="https://github.com/ThreeStones1029/drr_utils_cpp"> C++代码 </a>
        </li>
        
            
        <li>2023.11-2023.12 <strong>基于nnunet的椎骨分割</strong></li> 
        <div>
            <img src="https://cdn.jsdelivr.net/gh/ThreeStones1029/blogimages/img/nnunet_seg.png" alt="Description of the first image" style="width:800px;height:auto; display:inline-block; margin-right:10px;">
            <img src="" alt="Description of the second image" style="width:500px;height:auto; display:inline-block;">
        </div>
        <li>2023.07-2023.08 <strong>基于HRNet的椎骨关键点检测</strong></li> 
        数据标注
        <div>
            <img src="https://cdn.jsdelivr.net/gh/ThreeStones1029/blogimages/img/$OC5X%5B7XAO6SHURBG86%7B2ML.png" alt="Description of the first image" style="width:500px;height:auto; display:inline-block;">
        </div>
        结果
        <div>
            <img src="https://cdn.jsdelivr.net/gh/ThreeStones1029/blogimages/img/HRNet_AP.jpg" alt="Description of the first image" style="width:500px;height:auto; display:inline-block; margin-right:10px;">
            <img src="https://cdn.jsdelivr.net/gh/ThreeStones1029/blogimages/img/))T8%5B%5B4BDC1GRR%7DZ@AQ$%60CK.png" alt="Description of the second image" style="width:500px;height:auto; display:inline-block;">
        </div>

    </ul>
    <p></p>
    
    

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Frozen three feet is not a day's cold <br>
    Making mountains from mounds is not done in a short time</p></blockquote>

    <p>Hi, I am <strong>Shuai Lei</strong>，Both my master's and master's degrees are in Hohai University. At present, I am a sophomore student in the School of Information Engineering, Hohai University.</p>
    
    <p>I primarily worked under the guidance of Prof. JunFeng Jiang on medical image processing.  
       I participated in several projects and tasks at the ChangZhou Key Laboratory of Digital Technology on Graphics and Orthopaedic implants.  
       My work involved object detection、image segmentation、keypoints recognition and 3D/2D registration.</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/ThreeStones1029">Github·ThreeStones</a>.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://ThreeStones1029.github.io">ThreeStones</a></li>
    </ul>
</div> 

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
